@font-face {
	font-family: 'Intro Black';
	src: url(/site-files/intro.ttf);
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', Sans;
	line-height: 20px;
}

h1 {
	font-family: 'Intro Black', 'Open Sans';
	text-transform: uppercase;
	margin: 0 auto 0 auto;
	width: 1000px;
	padding: 40px 0 40px 0;
	font-size: 32px;
	text-align: center;
}

a {
	-webkit-transition: background-color ease-out 0.3s;
	-moz-transition: background-color ease-out 0.3s;
	-o-transition: background-color ease-out 0.3s;
	transition: background-color ease-out 0.3s;
    color: #6699FF;
}

a:hover {
    color: red;
	-webkit-transition: color ease-out 0.3s;
	-moz-transition: color ease-out 0.3s;
	-o-transition: color ease-out 0.3s;
	transition: color ease-out 0.3s;
}

/* Цвета */
.sell-color-light {background-color: #80cbe0 !important;}
.sell-color-dark {background-color: #61bfd9 !important;}
.verification-color-dark {background-color: #1f8ba8 !important;}
.verification-color-light {background-color: #3796b2 !important;}
.inform-color-light {background-color: #fdcc55 !important;}
.inform-color-dark {background-color: #fcc642 !important;}
.notif-color-light {background-color: #ec6955 !important;}
.notif-color-dark {background-color: #e85a44 !important;}
.invite-color-light {background-color: #387385 !important;}
.invite-color-dark {background-color: #216477 !important;}
.ask-color-light {background-color: #c65545 !important;}
.ask-color-dark {background-color: #c04331 !important;}
/* EOF Цвета */


.grid {
	width: 1000px;
	margin: 0 auto 0 auto;
}

.grid-two {
	width: 1020px;
	margin: 0 auto 0 auto;
}

.fleft {float: left;}
.fright {float: right;}
.clean {clear: both;}
.center {text-align: center;}
.text-color-white {color: white;}
.column {width: 33%; float: left;}
.rouble {font-family: 'PT Sans';}

#header-main {
	width: 100%;
	height: 460px;
	background-color: #216477;
    background-image: url('/images/header-bg-2.jpg');
    background-position: center center;
    background-repeat: repeat-x;
    background-size: cover;
    color: white;
}

#logo {
	width: 144px;
	height: 40px;
	margin: 20px 20px 0 0;
	float: left;
    background-image: url('/site-files/logo.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

#login-menu {
	margin: 30px 0 0 0;
	float: left;
}

#login-menu a {
	margin: 0 20px 0 0;
    font-size: 14px;
    color: white;
}

.short-contacts {
    margin: 20px 0 0 40px;
    float: left;
}

.short-contacts a {
    color: white;
    font-size: 14px;
}

#main-menu {
	margin: 30px 0 0 0;
	float: right;
}

#main-menu a {
	margin: 0 0 0 20px;
    font-size: 14px;
    color: white;
}

#main-menu a:hover {
    color: red;
}

#main-menu #amocrm  {
    background-color: yellow;
    padding: 7px 15px 9px 15px;
    border-radius: 40px;
    border: 2px solid yellow;
    color: black;
    text-decoration: none;
}

#main-menu #amocrm:hover {
    background: none;
    color: black;
}

/* Концепция сервиса */
#promo-text {
    width: 1000px;
    margin: 50px auto 0 auto;
    text-align: left;
    color: white;
    font-size: 18px;
}

#promo-zag {
    display: inline-block;
    margin: 0 0 44px 0;
    font-family: 'Intro Black';
    font-size: 34px;
    text-transform: uppercase;
    line-height: 40px;
}

#promo-text a {
	display: inline-block;
	padding: 10px 40px 10px 40px;
    margin: 55px 0 0 0;
	text-decoration: none;
	border: 2px solid white;
	color: white;
    font-family: 'Intro Black';
	text-transform: uppercase;
	font-size: 18px;
}

#promo-text a:hover {
    background-color: white;
    color: #c04331;
}

#shiva {
    width: 536px;
    height: 380px;
    margin: 0 -20px 0 -200px;
/*     background-image: url('/images/shiva.svg'); */
    float: right;
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    bottom: 32px;
    text-align: right;
}
/* EOF Концепция сервиса */

/* Компетенции */
#comp-links.fixed {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: white;
}

#comp-links.default {
    position: relative;
}

#comp-links a {
	display: block;
	width: 148px;
	text-decoration: none;
	padding: 10px 0 10px 0;
	text-align: center;
	margin: 0 10px 40px 10px;
	border-radius: 5px;
	float: left;
	border: 1px dashed lightgray;
	color: black;
}

#comp-links-sell:hover {
    background-color: #80cbe0;
	border: 1px solid #80cbe0;
    color: white;
}

#comp-links-verification:hover {
    background-color: #1f8ba8;
	border: 1px solid #1f8ba8;
    color: white;
}

#comp-links-inform:hover {
    background-color: #fcc642;
	border: 1px solid #fcc642;
    color: white;
}

#comp-links-notif:hover {
    background-color: #e85a44;
	border: 1px solid #e85a44;
    color: white;
}

#comp-links-invite:hover {
    background-color: #216477;
	border: 1px solid #216477;
    color: white;
}

#comp-links-ask:hover {
    background-color: #c04331;
	border: 1px solid #c04331;
    color: white;
}

/* Блоки на главной */
#comp-block-text-sell {
    margin: 40px 100px 0 100px;
    float: right;
}

#comp-block-text-verification {
    margin: 70px 100px 0 100px;
    float: left;
}

#comp-block-text-inform {
    margin: 70px 100px 0 100px;
    float: right;
}

#comp-block-text-notif {
    margin: 70px 100px 0 100px;
    float: left;
}

#comp-block-text-invite {
    margin: 60px 100px 0 100px;
    float: right;
}

#comp-block-text-ask {
    margin: 50px 100px 0 100px;
    float: left;
}
/* EOF Блоки на главной */
#comp-block-wrapper {
    width: 100%;
    min-width: 1000px;
    margin: 0 auto 0 auto;
}

.comp-block {
	width: 50%;
	min-width: 500px;
	height: 360px;
	float: left;
	font-weight: lighter;
    color: white;
}

.comp-block div {
	max-width: 310px;
	height: 100%;
	text-align: center;
}

.comp-block span {
    display: block;
    font-size: 18px;
    font-weight: bold;
    padding: 0 0 10px 0;
}

.comp-block p {
	margin: 0;
	padding: 0;
}

.comp-block a {
	display: inline-block;
    min-width: 260px;
    padding: 10px 0 10px 0;
    margin: 40px 0 0 0;
	text-decoration: none;
	border: 2px solid white;
	color: white;
    font-weight: bold;
    text-align: center;
	font-size: 16px;
}

.comp-block a:hover {
    background-color: white;
    color: #c04331;
}

.comp-image {
	width: 50%;
	min-width: 500px;
	height: 360px;
	float: left;
}

.comp-image div {
    width: 420px;
    height: 280px;
    margin: 20px 40px 10px 40px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.comp-image span {
    width: 420px;
    margin: 0 40px 0 40px;
    display: block;
    clear: both;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: white;
    font-family: 'Intro Black';
    text-transform: uppercase;
}

#comp-image-sell {
    float: left;
    position: relative;
    bottom: 30px;
}

#comp-image-verification {
    float: right;
}

#comp-image-inform {
    float: left;
}

#comp-image-notif {
    float: right;
}

#comp-image-invite {
    float: left;
}

#comp-image-ask {
    float: right;
}
/* EOF Компетенции */

/* Кейсы */
.case {
    width: 100%;
    display:none;
}

.container-foreground {
    width: 100%;
    height: 456px;
    margin: 0 0 -456px;
    z-index: 2;
}

.container-background {
    width: 100%;
    height: 456px;
    z-index: 1;
}

.case-arrows {
    cursor: pointer;
    opacity: 0.3;
	-webkit-transition: opacity ease-out 0.3s;
	-moz-transition: opacity ease-out 0.3s;
	-o-transition: opacity ease-out 0.3s;
	transition: opacity ease-out 0.3s;
}

.case-arrows:hover {
    opacity: 1;
}

#digits {
    width: 100%;
    margin: 40px 0 0 0;
    padding: 0 0 40px 0;
    background-color: #017a8d;
    color: white;
}

#digits span {
    display: block;
    font-size: 64px;
    padding: 20px 0 40px 0;
/*     font-family: 'Intro Black'; */
}

/*#digits a {
	display: inline-block;
	padding: 10px 50px 10px 50px;
    margin: 40px 0 0 0;
	text-decoration: none;
	border: 2px solid white;
	color: white;
	font-family: 'Intro Black';
	text-transform: uppercase;
	font-size: 18px;
}

#digits a:hover {
    background-color: white;
    color: #017a8d;
}*/

#digits-arrow {
    width: 200px;
    height: 130px;
    margin: 0 0 -130px 220px;
    position: relative;
    top: -30px;
    z-index: 2;
    left: 50%;
    background-image: url('/site-files/arrow.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

#feedback-screenshot img {
    width: 50px;
    height: 50px;
    border: 5px solid white;
    border-radius: 2px;
    margin: 0 0 -70px 0;
    float: right;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    transform: rotate(3deg);
}

#feedback-arrow {
    width: 70px;
    height: 74px;
    background-image: url('/site-files/feedback-arrow.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 0 -74px 0;
    float: right;
    position: relative;
    left: -30px;
    top: -50px;
}
/* EOF Кейсы */

#demo-call a {
	display: inline-block;
	padding: 10px 50px 10px 50px;
    margin: 40px 0 0 0;
	text-decoration: none;
	border: 2px solid #c04331;
	color: white;
    background-color: #c04331;
	font-family: 'Intro Black';
	text-transform: uppercase;
	font-size: 18px;
}

#demo-call a:hover {
    background-color: white;
    color: #c04331;
    cursor: pointer;
}

#or-line {
    width: 700px;
    margin: 0 auto 0 auto;
    background-image: url('/site-files/1px-black.png');
    background-repeat: repeat-x;
    background-position: center center;
}

#or-line h1 {
    width: 150px;
    margin: 0 auto 0 auto;
    background-color: white;
}

/* Форма */
input::-webkit-input-placeholder {
    color:gray;}
input::-moz-placeholder          {
    color:gray;}
input:-moz-placeholder           {
    color:gray;}
input:-ms-input-placeholder      {
    color:gray;}

input::-webkit-input-placeholder       {
    opacity: 1; transition: opacity 0.3s ease;}
input::-moz-placeholder                {
    opacity: 1; transition: opacity 0.3s ease;}
input:-moz-placeholder                 {
    opacity: 1; transition: opacity 0.3s ease;}
input:-ms-input-placeholder            {
    opacity: 1; transition: opacity 0.3s ease;}
input:focus::-webkit-input-placeholder {
    opacity: 0; transition: opacity 0.3s ease;}
input:focus::-moz-placeholder          {
    opacity: 0; transition: opacity 0.3s ease;}
input:focus:-moz-placeholder           {
    opacity: 0; transition: opacity 0.3s ease;}
input:focus:-ms-input-placeholder      {
    opacity: 0; transition: opacity 0.3s ease;}

#lid-form {
    width: 960px;
    margin: 0 auto 0 auto;
    text-align: center;
}

#lid-form input {
    outline: none;
}

#lid-form #lid-phone {
    width: 243px;
    height: 40px;
    font-size: 18px;
    margin: 20px 0 0 0;
    border: 0;
    border-bottom: 1px dashed gray;
    text-align: center;
    
}

#lid-form #lid-button {
	display: inline-block;
	padding: 10px 50px 10px 50px;
    margin: 40px 0 40px 0;
	text-decoration: none;
	border: 2px solid black;
    background-color: white;
	color: black;
    font-family: 'Intro Black';
	text-transform: uppercase;
	font-size: 18px;
    cursor: pointer;
}
/* EOF Форма */

#footer {
    width: 100%;
    height: 60px;
    background-color: #275459;
    color: white;
    font-size: 14px;
}

#footer a {
    color: white;
}

#footer .column {
    padding: 10px 0 0 0;
}

#footer .likely {
    padding: 20px 0 0 0;
}

/* Модальное окно на главной */
#modal_form {
	width: 300px; 
	height: 410px; /* Рaзмеры дoлжны быть фиксирoвaны */
	border-radius: 5px;
	background: #fff;
	position: fixed; /* чтoбы oкнo былo в видимoй зoне в любoм месте */
	top: 45%; /* oтступaем сверху 45%, oстaльные 5% пoдвинет скрипт */
	left: 50%; /* пoлoвинa экрaнa слевa */
	margin-top: -205px;
	margin-left: -150px; /* тут вся мaгия центрoвки css, oтступaем влевo и вверх минус пoлoвину ширины и высoты сooтветственнo =) */
	display: none; /* в oбычнoм сoстoянии oкнa не дoлжнo быть */
	opacity: 0; /* пoлнoстью прoзрaчнo для aнимирoвaния */
	z-index: 5; /* oкнo дoлжнo быть нaибoлее бoльшем слoе */
	padding: 20px 10px;
    text-align: center;
}

#modal_form #modal-close-cross {
	width: 21px;
	height: 21px;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	display: block;
}

#overlay {
	z-index:3; /* пoдлoжкa дoлжнa быть выше слoев элементoв сaйтa, нo ниже слoя мoдaльнoгo oкнa */
	position:fixed; /* всегдa перекрывaет весь сaйт */
	background-color:#000; /* чернaя */
	opacity:0.8; /* нo немнoгo прoзрaчнa */
	-moz-opacity:0.8; /* фикс прозрачности для старых браузеров */
	filter:alpha(opacity=80);
	width:100%; 
	height:100%; /* рaзмерoм вo весь экрaн */
	top:0; /* сверху и слевa 0, oбязaтельные свoйствa! */
	left:0;
	cursor:pointer;
	display:none; /* в oбычнoм сoстoянии её нет) */
}

#modal_form p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: bold;
}

#modal_form_active {
    display: block;
}

#modal_form_done {
    display: none;
}

#modal_form_done button {
    width: 140px;
    height: 40px;
    padding: 10px 0 10px 0;
    margin: 15px 0 20px 0;
    background-color: #c04331;
    cursor: pointer;
    color: white;
    border: 1px solid #c04331;
    border-radius: 4px;
	-webkit-transition: background-color ease-out 0.3s;
	-moz-transition: background-color ease-out 0.3s;
	-o-transition: background-color ease-out 0.3s;
	transition: background-color ease-out 0.3s;
}

#modal_form_done p {
    padding: 60px 0 0 0;
}

#modal_form_done img {
    padding: 60px 0 0 0;
    width: 100px;
}

#modal_form_done button:hover {
    background-color: white;
    color: #c04331;
}

#tts-call label {
    font-size: 12px;
}

#tts-call input {
    width: 70%;
    height: 20px;
    padding: 10px;
    margin: 0 0 10px 0;
    border: 1px solid lightgray;
    border-radius: 4px;
    outline: none;
}

#tts-call textarea {
    width: 70%;
    max-width: 210px;
    height: 80px;
    max-height: 80px;
    padding: 10px;
    margin: 0 0 10px 0;
    border: 1px solid lightgray;
    border-radius: 4px;
    outline: none;
    resize: none;
}

#tts-call button {
    width: 140px;
    height: 40px;
    padding: 10px 0 10px 0;
    margin: 15px 0 20px 0;
    background-color: #c04331;
    cursor: pointer;
    color: white;
    border: 1px solid #c04331;
    border-radius: 4px;
	-webkit-transition: background-color ease-out 0.3s;
	-moz-transition: background-color ease-out 0.3s;
	-o-transition: background-color ease-out 0.3s;
	transition: background-color ease-out 0.3s;
}

#tts-call button:hover {
    background-color: white;
    color: #c04331;
}
/* EOF Модальное окно на главной */

/* Тариф */
#tarif {
    border-top: 1px dashed lightgray;
    padding: 40px 0 60px 0;
}

.tarif-name {
    font-weight: bold;
    font-size: 32px;
}

.tarif-rules {
    width: 47%;
}

.tarif-cost {
    width: 20%;
    text-align: right;
    font-weight: bold;
    font-size: 32px;
}

.tarif-cost span {
    font-size: 16px;
    font-weight: normal;
}
/* EOF Тариф */







